*~
*.gem
*.rbc
*.sw?
.rbenv
.rvmrc
.ruby-gemset
.ruby-version
.bundle
.DS_Store
.idea
.yardoc
/tests/.fog
bin/*
!bin/fog
.fog
coverage
doc/*
docs/_site/*
docs/about/supported_services.markdown
Gemfile.lock
gemfiles/*.lock
yardoc
pkg
spec/credentials.yml
vendor/*
tags
tests/digitalocean/fixtures/

providers/*/doc
