---
http_interactions:
- request:
    method: post
    uri: https://devlab.mdsol.com/api/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cmVzdGViYW5lekBkZXZvcHM6cGFzc3dvcmQqOA==
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Vcloud-Authorization:
      - perAbCLAq2IfXHLnWNcRY6DlyzVuKf83nMeZY4QJ2yc=
      Content-Type:
      - application/vnd.vmware.vcloud.session+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Session xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        user=\"restebanez\" org=\"DevOps\" type=\"application/vnd.vmware.vcloud.session+xml\"
        href=\"https://devlab.mdsol.com/api/session/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.orgList+xml\"
        href=\"https://devlab.mdsol.com/api/org/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.admin.vcloud+xml\"
        href=\"https://devlab.mdsol.com/api/admin/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.query.queryList+xml\"
        href=\"https://devlab.mdsol.com/api/query\"/>\n    <Link rel=\"entityResolver\"
        type=\"application/vnd.vmware.vcloud.entity+xml\" href=\"https://devlab.mdsol.com/api/entity/\"/>\n</Session>\n"
  recorded_at: Mon, 19 Aug 2013 10:20:42 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.orglist+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OrgList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        type=\"application/vnd.vmware.vcloud.orgList+xml\" href=\"https://devlab.mdsol.com/api/org/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Org type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n</OrgList>\n"
  recorded_at: Mon, 19 Aug 2013 10:20:43 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.org+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Org xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DevOps\" id=\"urn:vc[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.catalog+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Catalog xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"Public VM Templates\" id=\"urn:vcloud:catalog:4ee720e5-173a-41ac-824b-6f4908bac975\"
        type=\"application/vnd.vmware.vcloud.catalog+xml\" href=\"https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.metadata+xml\"
        href=\"https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975/metadata\"/>\n
        \   <Description/>\n    <CatalogItems>\n        <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEV-ROAD564\" href=\"https://devlab.mdsol.com/api/catalogItem/29736dd8-17e5-49a9-840b-3b5605dd6522\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVWIN\" href=\"https://devlab.mdsol.com/api/catalogItem/2bd55629-2734-420c-9068-2ff06a4a8028\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVRHL\" href=\"https://devlab.mdsol.com/api/catalogItem/5437aa3f-e369-40b2-b985-2e63e1bc9f2e\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVAPP\" href=\"https://devlab.mdsol.com/api/catalogItem/54cf5deb-326f-4770-a91a-39048689b6ea\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVWEB\" href=\"https://devlab.mdsol.com/api/catalogItem/5b3f97f1-13bf-450e-a632-126aac3bb3d9\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVSQL\" href=\"https://devlab.mdsol.com/api/catalogItem/61e97240-8b95-4456-aa66-53e66e8231ba\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVUBL\" href=\"https://devlab.mdsol.com/api/catalogItem/f87b71e5-a356-499e-8103-613edbf1b84a\"/>\n
        \   </CatalogItems>\n    <IsPublished>true</IsPublished>\n</Catalog>\n"
  recorded_at: Mon, 19 Aug 2013 10:20:45 GMT
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/catalogItem/29736dd8-17e5-49a9-840b-3b5605dd6522
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.catalogitem+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<CatalogItem xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DEV-ROAD564\" id=\"urn:vcloud:catalogitem:29736dd8-17e5-49a9-840b-3b5605dd6522\"
        type=\"application/vnd.vmware.vcloud.catalogItem+xml\" href=\"https://devlab.mdsol.com/api/catalogItem/29736dd8-17e5-49a9-840b-3b5605dd6522\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd.vmware.vcloud.catalog+xml\"
        href=\"https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.metadata+xml\"
        href=\"https://devlab.mdsol.com/api/catalogItem/29736dd8-17e5-49a9-840b-3b5605dd6522/metadata\"/>\n
        \   <Description>Rave on a Disk 5.6.4. Patch 13</Description>\n    <Entity
        type=\"application/vnd.vmware.vcloud.vAppTemplate+xml\" name=\"DEV-ROAD564\"
        href=\"https://devlab.mdsol.com/api/vAppTemplate/vappTemplate-e11e5619-6322-4de9-b69c-36b5be0324d3\"/>\n</CatalogItem>\n"
  recorded_at: Mon, 19 Aug 2013 10:21:18 GMT
[...]
