---
http_interactions:
- request:
    method: post
    uri: https://devlab.mdsol.com/api/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cmVzdGViYW5lekBkZXZvcHM6cGFzc3dvcmQqOA==
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Vcloud-Authorization:
      - xXxwjITnGb+xiNsknJ7QshC2G1XUdt75WQd0IJ57HIw=
      Content-Type:
      - application/vnd.vmware.vcloud.session+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Session xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        user=\"restebanez\" org=\"DevOps\" type=\"application/vnd.vmware.vcloud.session+xml\"
        href=\"https://devlab.mdsol.com/api/session/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.orgList+xml\"
        href=\"https://devlab.mdsol.com/api/org/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.admin.vcloud+xml\"
        href=\"https://devlab.mdsol.com/api/admin/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.query.queryList+xml\"
        href=\"https://devlab.mdsol.com/api/query\"/>\n    <Link rel=\"entityResolver\"
        type=\"application/vnd.vmware.vcloud.entity+xml\" href=\"https://devlab.mdsol.com/api/entity/\"/>\n</Session>\n"
  recorded_at: Mon, 19 Aug 2013 07:33:08 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.orglist+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OrgList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        type=\"application/vnd.vmware.vcloud.orgList+xml\" href=\"https://devlab.mdsol.com/api/org/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Org type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n</OrgList>\n"
  recorded_at: Mon, 19 Aug 2013 07:33:09 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.org+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Org xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DevOps\" id=\"urn:vc[...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vdc+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Vdc xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        status=\"1\" name=\"DevOps - VDC\" id=\"urn:vcloud:vdc:9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        type=\"application/vnd.vmware.vcloud.vdc+xml\" href=\"https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd[...]
[...]
