---
http_interactions:
- request:
    method: post
    uri: https://devlab.mdsol.com/api/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cmVzdGViYW5lekBkZXZvcHM6cGFzc3dvcmQqOA==
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Vcloud-Authorization:
      - wv+cQrNws2WYU/IWL+VY7kIe0dIJdvh8JVaPw785bDc=
      Content-Type:
      - application/vnd.vmware.vcloud.session+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Session xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        user=\"restebanez\" org=\"DevOps\" type=\"application/vnd.vmware.vcloud.session+xml\"
        href=\"https://devlab.mdsol.com/api/session/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.orgList+xml\"
        href=\"https://devlab.mdsol.com/api/org/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.admin.vcloud+xml\"
        href=\"https://devlab.mdsol.com/api/admin/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.query.queryList+xml\"
        href=\"https://devlab.mdsol.com/api/query\"/>\n    <Link rel=\"entityResolver\"
        type=\"application/vnd.vmware.vcloud.entity+xml\" href=\"https://devlab.mdsol.com/api/entity/\"/>\n</Session>\n"
  recorded_at: Mon, 19 Aug 2013 14:42:27 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.orglist+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OrgList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        type=\"application/vnd.vmware.vcloud.orgList+xml\" href=\"https://devlab.mdsol.com/api/org/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Org type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n</OrgList>\n"
  recorded_at: Mon, 19 Aug 2013 14:42:28 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.org+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Org xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DevOps\" id=\"urn:vc[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vdc+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Vdc xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        status=\"1\" name=\"DevOps - VDC\" id=\"urn:vcloud:vdc:9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        type=\"application/vnd.vmware.vcloud.vdc+xml\" href=\"https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vapp-af4ef7ff-2fd2-4893-b23d-9ea74ff354c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vApp+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VApp xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\" deployed=\"true\" status=\"1\"
        name=\"vApp_restebanez_1\" id=\"urn:vcloud:vapp:af4ef7ff-2fd2-4893-b23d-9ea74ff354c9\"
        type=\"application/vnd.vmware.vcloud.vApp+xml\" href=\"https://devlab.mdsol.com/api/vApp/vapp-af4ef7ff-2fd2-4893-b23d-9ea74ff354c9\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1
    [...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/virtualHardwareSection/disks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.rasditemslist+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RasdItemsList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        xmlns:rasd=\"http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" type=\"application/vnd.vmware.vcloud.rasdItemsList+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/virtualHardwareSection/disks\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd
        http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData
        http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2.22.0/CIM_ResourceAllocationSettingData.xsd\">\n
        \   <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.rasdItemsList+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/virtualHardwareSection/disks\"/>\n
        \   <Item>\n        <rasd:Address>0</rasd:Address>\n        <rasd:Description>SCSI
        Controller</rasd:Description>\n        <rasd:ElementName>SCSI Controller 0</rasd:ElementName>\n
        \       <rasd:InstanceID>2</rasd:InstanceID>\n        <rasd:ResourceSubType>lsilogicsas</rasd:ResourceSubType>\n
        \       <rasd:ResourceType>6</rasd:ResourceType>\n    </Item>\n    <Item>\n
        \       <rasd:AddressOnParent>0</rasd:AddressOnParent>\n        <rasd:Description>Hard
        disk</rasd:Description>\n        <rasd:ElementName>Hard disk 1</rasd:ElementName>\n
        \       <rasd:HostResource xmlns:ns12=\"http://www.vmware.com/vcloud/v1.5\"
        ns12:capacity=\"32768\" ns12:busSubType=\"lsilogicsas\" ns12:busType=\"6\"></rasd:HostResource>\n
        \       <rasd:InstanceID>2000</rasd:InstanceID>\n        <rasd:Parent>2</rasd:Parent>\n
        \       <rasd:ResourceType>17</rasd:ResourceType>\n    </Item>\n    <Item>\n
        \       <rasd:Address>0</rasd:Address>\n        <rasd:Description>IDE Controller</rasd:Description>\n
        \       <rasd:ElementName>IDE Controller 0</rasd:ElementName>\n        <rasd:InstanceID>3</rasd:InstanceID>\n
        \       <rasd:ResourceType>5</rasd:ResourceType>\n    </Item>\n</RasdItemsList>\n"
  recorded_at: Mon, 19 Aug 2013 14:42:48 GMT
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/guestCustomizationSection
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.guestcustomizationsection+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GuestCustomizationSection
        xmlns=\"http://www.vmware.com/vcloud/v1.5\" xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\"
        type=\"application/vnd.vmware.vcloud.guestCustomizationSection+xml\" href=\"https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/guestCustomizationSection/\"
        ovf:required=\"false\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1 http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd
        http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <ovf:Info>Specifies Guest OS Customization Settings</ovf:Info>\n    <Enabled>true</Enabled>\n
        \   <ChangeSid>false</ChangeSid>\n    <VirtualMachineId>4a37a2ea-b0dd-41ae-a879-5f0743b1ff77</VirtualMachineId>\n
        \   <JoinDomainEnabled>false</JoinDomainEnabled>\n    <UseOrgSettings>false</UseOrgSettings>\n
        \   <AdminPasswordEnabled>false</AdminPasswordEnabled>\n    <AdminPasswordAuto>true</AdminPasswordAuto>\n
        \   <ResetPasswordRequired>false</ResetPasswordRequired>\n    <ComputerName>DEVAPP-001</ComputerName>\n
        \   <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.guestCustomizationSection+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/guestCustomizationSection/\"/>\n</GuestCustomizationSection>\n"
  recorded_at: Mon, 19 Aug 2013 14:43:48 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/networkConnectionSection/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.networkconnectionsection+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<NetworkConnectionSection
        xmlns=\"http://www.vmware.com/vcloud/v1.5\" xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\"
        type=\"application/vnd.vmware.vcloud.networkConnectionSection+xml\" href=\"https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/networkConnectionSection/\"
        ovf:required=\"false\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1 http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd
        http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <ovf:Info>Specifies the available VM network connections</ovf:Info>\n
        \   <PrimaryNetworkConnectionIndex>0</PrimaryNetworkConnectionIndex>\n    <NetworkConnection
        network=\"none\" needsCustomization=\"true\">\n        <NetworkConnectionIndex>0</NetworkConnectionIndex>\n
        \       <IsConnected>false</IsConnected>\n        <MACAddress>00:50:56:01:00:f4</MACAddress>\n
        \       <IpAddressAllocationMode>NONE</IpAddressAllocationMode>\n    </NetworkConnection>\n
        \   <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.networkConnectionSection+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-4a37a2ea-b0dd-41ae-a879-5f0743b1ff77/networkConnectionSection/\"/>\n</NetworkConnectionSection>\n"
  recorded_at: Mon, 19 Aug 2013 14:43:49 GMT
recorded_with: VCR 2.5.0
