/* layout */
body {
  background-color: #EBF2F9;
  line-height: 1.5em;
  text-align: center;
}

#container {
  margin: auto;
  text-align: left;
  width: 800px;
}

header {
  background-color: #A0C0E1;
  border-color: #70A1D2;
  -moz-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  color: #FFF;
  height: 154px;
  margin-bottom: 2em;
  position: relative;
  text-align: center;
}

header a, header a:active, header a:visited {
  color: #FFF;
}

header img {
  position: absolute;
  left: 0;
  top: 0;
}

header h1 {
  font-size: 2em;
  line-height: 154px;
}

header dl {
  background-color: #70A1D2;
  border-color: #70A1D2;
  -moz-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  height: 140px; /* 154 - padding-top */
  position: absolute;
  padding: 14px 1.5em 0 1.5em;
  right: 0;
  top: 0;
}

header dl dt {
  font-weight: bold;
}

nav, #main {
  background-color: #FFF;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #666;
  border: 1px solid #70A1D2;
  padding: 0 1em;
  margin-bottom: 2em;
}

nav {
  padding: 1em;
}

nav li {
  display: inline;
  padding-left: 2em;
}

nav li a {
  font-size: 1.5em;
}

footer {
  background-color: #A0C0E1;
  border-color: #70A1D2;
  -moz-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  color: #FFF;
  text-align: center;
}

footer img {
  padding: 5px;
  vertical-align: middle;
}

/* misc */

h2 {
  border-bottom: 2px solid #A0C0E1;
  color: #70A1D2;
  font-size: 1.5em;
  margin-top: 1.33333333333333em;
  padding: 0 0.75em 0.75em 0;
}

code, pre {
  background-color: #EBF2F9;
  border: 1px solid #70A1D2;
  color: #666;
}

code {
  padding: 0 0.2em;
}

p, ul {
  margin-bottom: 1em;
  margin-top: 1em;
}

pre {
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 1em;
  white-space: pre;
}

pre code {
  border: none;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
