---
http_interactions:
- request:
    method: post
    uri: https://devlab.mdsol.com/api/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cmVzdGViYW5lekBkZXZvcHM6cGFzc3dvcmQqOA==
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Vcloud-Authorization:
      - 9QGBZRH/iuBWlSpRfFeRIRAFZvUarv1v/8ZvnhuPe0c=
      Content-Type:
      - application/vnd.vmware.vcloud.session+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Session xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        user=\"restebanez\" org=\"DevOps\" type=\"application/vnd.vmware.vcloud.session+xml\"
        href=\"https://devlab.mdsol.com/api/session/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.orgList+xml\"
        href=\"https://devlab.mdsol.com/api/org/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.admin.vcloud+xml\"
        href=\"https://devlab.mdsol.com/api/admin/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.query.queryList+xml\"
        href=\"https://devlab.mdsol.com/api/query\"/>\n    <Link rel=\"entityResolver\"
        type=\"application/vnd.vmware.vcloud.entity+xml\" href=\"https://devlab.mdsol.com/api/entity/\"/>\n</Session>\n"
  recorded_at: Tue, 20 Aug 2013 10:48:19 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.orglist+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OrgList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        type=\"application/vnd.vmware.vcloud.orgList+xml\" href=\"https://devlab.mdsol.com/api/org/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Org type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n</OrgList>\n"
  recorded_at: Tue, 20 Aug 2013 10:48:20 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.org+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Org xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DevOps\" id=\"urn:vc[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.catalog+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Catalog xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"Public VM Templates\" id=\"urn:vcloud:catalog:4ee720e5-173a-41ac-824b-6f4908bac975\"
        type=\"application/vnd.vmware.vcloud.catalog+xml\" href=\"https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.metadata+xml\"
        href=\"https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975/metadata\"/>\n
        \   <Description/>\n    <CatalogItems>\n        <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEV-ROAD564\" href=\"https://devlab.mdsol.com/api/catalogItem/29736dd8-17e5-49a9-840b-3b5605dd6522\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVWIN\" href=\"https://devlab.mdsol.com/api/catalogItem/2bd55629-2734-420c-9068-2ff06a4a8028\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVAPP\" href=\"https://devlab.mdsol.com/api/catalogItem/54cf5deb-326f-4770-a91a-39048689b6ea\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVWEB\" href=\"https://devlab.mdsol.com/api/catalogItem/5b3f97f1-13bf-450e-a632-126aac3bb3d9\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVSQL\" href=\"https://devlab.mdsol.com/api/catalogItem/61e97240-8b95-4456-aa66-53e66e8231ba\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVRHL\" href=\"https://devlab.mdsol.com/api/catalogItem/77c7b14e-382e-4e14-813b-2db66aae26eb\"/>\n
        \       <CatalogItem type=\"application/vnd.vmware.vcloud.catalogItem+xml\"
        name=\"DEVUBL\" href=\"https://devlab.mdsol.com/api/catalogItem/f87b71e5-a356-499e-8103-613edbf1b84a\"/>\n
        \   </CatalogItems>\n    <IsPublished>true</IsPublished>\n</Catalog>\n"
  recorded_at: Tue, 20 Aug 2013 10:48:22 GMT
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/catalogItem/5b3f97f1-13bf-450e-a632-126aac3bb3d9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.catalogitem+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<CatalogItem xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DEVWEB\" id=\"urn:vcloud:catalogitem:5b3f97f1-13bf-450e-a632-126aac3bb3d9\"
        type=\"application/vnd.vmware.vcloud.catalogItem+xml\" href=\"https://devlab.mdsol.com/api/catalogItem/5b3f97f1-13bf-450e-a632-126aac3bb3d9\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd.vmware.vcloud.catalog+xml\"
        href=\"https://devlab.mdsol.com/api/catalog/4ee720e5-173a-41ac-824b-6f4908bac975\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.metadata+xml\"
        href=\"https://devlab.mdsol.com/api/catalogItem/5b3f97f1-13bf-450e-a632-126aac3bb3d9/metadata\"/>\n
        \   <Description>Windows Server 2008 R2 Web Edition</Description>\n    <Entity
        type=\"application/vnd.vmware.vcloud.vAppTemplate+xml\" name=\"DEVWEB\" href=\"https://devlab.mdsol.com/api/vAppTemplate/vappTemplate-ed2b234f-c03f-460b-b877-bedd2255dfb3\"/>\n</CatalogItem>\n"
  recorded_at: Tue, 20 Aug 2013 10:48:24 GMT
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/network/d5f47bbf-de27-4cf5-aaaa-56772f2ccd17
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.orgNetwork+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OrgNetwork xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DevOps - Dev Network Connection\" id=\"urn:vcloud:network:d5f47bbf-de27-4cf5-aaaa-56772f2ccd17\"
        type=\"application/vnd.vmware.vcloud.orgNetwork+xml\" href=\"https://devlab.mdsol.com/api/network/d5f47bbf-de27-4cf5-aaaa-56772f2ccd17\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.metadata+xml\"
        href=\"https://devlab.mdsol.com/api/network/d5f47bbf-de27-4cf5-aaaa-56772f2ccd17/metadata\"/>\n
        \   <Description/>\n    <Configuration>\n        <IpScope>\n            <IsInherited>true</IsInherited>\n
        \           <Gateway>10.192.0.1</Gateway>\n            <Netmask>255.255.252.0</Netmask>\n
        \           <Dns1>10.192.0.11</Dns1>\n            <Dns2>10.192.0.12</Dns2>\n
        \           <DnsSuffix>dev.ad.mdsol.com</DnsSuffix>\n            <IpRanges>\n
        \               <IpRange>\n                    <StartAddress>10.192.0.100</StartAddress>\n
        \                   <EndAddress>10.192.0.254</EndAddress>\n                </IpRange>\n
        \               <IpRange>\n                    <StartAddress>10.192.1.32</StartAddress>\n
        \                   <EndAddress>10.192.3.254</EndAddress>\n                </IpRange>\n
        \           </IpRanges>\n        </IpScope>\n        <FenceMode>bridged</FenceMode>\n
        \       <RetainNetInfoAcrossDeployments>false</RetainNetInfoAcrossDeployments>\n
        \   </Configuration>\n</OrgNetwork>\n"
  recorded_at: Tue, 20 Aug 2013 10:48:26 GMT
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vdc+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Vdc xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        status=\"1\" name=\"DevOps - VDC\" id=\"urn:vcloud:vdc:9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        type=\"application/vnd.vmware.vcloud.vdc+xml\" href=\"https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd[...]
- request:
    method: post
    uri: https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3/action/instantiateVAppTemplate
    body:
      encoding: US-ASCII
      string: <InstantiateVAppTemplateParams xmlns="http://www.vmware.com/vcloud/v1.5"
        xmlns:ovf="http://schemas.dmtf.org/ovf/envelope/1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="shindo02" xml:lang="en"><Description/><InstantiationParams><NetworkConfigSection><ovf:Info></ovf:Info><NetworkConfig
        networkName=""><Configuration><ParentNetwork href="https://devlab.mdsol.com/api/network/d5f47bbf-de27-4cf5-aaaa-56772f2ccd17"/><FenceMode>bridged</FenceMode></Configuration></NetworkConfig></NetworkConfigSection></InstantiationParams><Source
        href="https://devlab.mdsol.com/api/vAppTemplate/vappTemplate-ed2b234f-c03f-460b-b877-bedd2255dfb3"/><AllEULAsAccepted>true</AllEULAsAccepted></InstantiateVAppTemplateParams>
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.instantiateVAppTemplateParams+xml
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7
      Content-Type:
      - application/vnd.vmware.vcloud.vapp+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VApp xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        deployed=\"false\" status=\"0\" name=\"shindo02\" id=\"urn:vcloud:vapp:b8056468-78a9-457d-a505-6ddd49504dc7\"
        type=\"application/vnd.vmware.vcloud.vApp+xml\" href=\"https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.vAppNetwork+xml\"
        name=\"DevOps - Dev Network Connection\" href=\"https://devlab.mdsol.com/api/network/1e27f011-64b9-426c-85d1-6b8b6710380b\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.controlAccess+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7/controlAccess/\"/>\n
        \   <Link rel=\"up\" type=\"application/vnd.vmware.vcloud.vdc+xml\" href=\"https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.owner+xml\" href=\"https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7/owner\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.metadata+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7/metadata\"/>\n
        \   <Description/>\n    <Tasks>\n        <Task status=\"running\" startTime=\"2013-08-20T10:46:15.771Z\"
        operationName=\"vdcInstantiateVapp\" operation=\"Creating Virtual Application
        shindo02(b8056468-78a9-457d-a505-6ddd49504dc7)\" expiryTime=\"2013-11-18T10:46:15.771Z\"
        name=\"task\" id=\"urn:vcloud:task:f79fa5be-4d5f-412b-957a-edeb485e919a\"
        type=\"application/vnd.vmware.vcloud.task+xml\" href=\"https://devlab.mdsol.com/api/task/f79fa5be-4d5f-412b-957a-edeb485e919a\">\n
        \           <Link rel=\"task:cancel\" href=\"https://devlab.mdsol.com/api/task/f79fa5be-4d5f-412b-957a-edeb485e919a/action/cancel\"/>\n
        \           <Owner type=\"application/vnd.vmware.vcloud.vApp+xml\" name=\"shindo02\"
        href=\"https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7\"/>\n
        \           <User type=\"application/vnd.vmware.admin.user+xml\" name=\"restebanez\"
        href=\"https://devlab.mdsol.com/api/admin/user/c3ca7b97-ddea-425f-8bdb-1fdb946f7349\"/>\n
        \           <Organization type=\"application/vnd.vmware.vcloud.org+xml\" name=\"DevOps\"
        href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \           <Progress>1</Progress>\n        </Task>\n    </Tasks>\n    <Owner
        type=\"application/vnd.vmware.vcloud.owner+xml\">\n        <User type=\"application/vnd.vmware.admin.user+xml\"
        name=\"restebanez\" href=\"https://devlab.mdsol.com/api/admin/user/c3ca7b97-ddea-425f-8bdb-1fdb946f7349\"/>\n
        \   </Owner>\n    <InMaintenanceMode>false</InMaintenanceMode>\n</VApp>\n"
  recorded_at: Tue, 20 Aug 2013 10:48:31 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/task/f79fa5be-4d5f-412b-957a-edeb485e919a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.task+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Task xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        status=\"running\" start[...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vapp-b8056468-78a9-457d-a505-6ddd49504dc7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vApp+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VApp xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        xmlns:ovf=\"http://[...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/networkConnectionSection/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.networkconnectionsection+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<NetworkConnectionSection
        xmlns=\"http://www.vmware.com/vcloud/v1.5\" xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\"
        type=\"application/vnd.vmware.vcloud.networkConnectionSection+xml\" href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/networkConnectionSection/\"
        ovf:required=\"false\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1 http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd
        http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <ovf:Info>Specifies the available VM network connections</ovf:Info>\n
        \   <PrimaryNetworkConnectionIndex>0</PrimaryNetworkConnectionIndex>\n    <NetworkConnection
        network=\"none\" needsCustomization=\"true\">\n        <NetworkConnectionIndex>0</NetworkConnectionIndex>\n
        \       <IsConnected>false</IsConnected>\n        <MACAddress>00:50:56:01:01:6c</MACAddress>\n
        \       <IpAddressAllocationMode>NONE</IpAddressAllocationMode>\n    </NetworkConnection>\n
        \   <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.networkConnectionSection+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/networkConnectionSection/\"/>\n</NetworkConnectionSection>\n"
  recorded_at: Tue, 20 Aug 2013 10:51:07 GMT
- request:
    method: put
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/networkConnectionSection/
    body:
      encoding: US-ASCII
      string: ! "<NetworkConnectionSection xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        \n                 xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\" \n
        \                type=\"application/vnd.vmware.vcloud.networkConnectionSection+xml\"
        \n                 ovf:required=\"false\" \n                 xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        \n                   xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1
        \n                   http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd
        \n                   http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">
        \           <ovf:Info>Specifies the available VM network connections</ovf:Info>\n
        \                <PrimaryNetworkConnectionIndex>0</PrimaryNetworkConnectionIndex>\n
        \                <NetworkConnection \n                     network=\"DevOps
        - Dev Network Connection\" \n                     needsCustomization=\"true\">\n
        \                    <NetworkConnectionIndex>0</NetworkConnectionIndex>\n
        \                    <IpAddress></IpAddress>\n                     <IsConnected>true</IsConnected>\n
        \                    <MACAddress>00:50:56:01:01:6c</MACAddress>\n                     <IpAddressAllocationMode>POOL</IpAddressAllocationMode>\n
        \                </NetworkConnection>\n</NetworkConnectionSection>"
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.networkConnectionSection+xml
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://[...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/guestCustomizationSection
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.guestcustomizationsection+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GuestCustomizationSection
        xmlns=\"http://www.vmware.com/vcloud/v1.5\" xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\"
        type=\"application/vnd.vmware.vcloud.guestCustomizationSection+xml\" href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/guestCustomizationSection/\"
        ovf:required=\"false\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1 http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd
        http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <ovf:Info>Specifies Guest OS Customization Settings</ovf:Info>\n    <Enabled>true</Enabled>\n
        \   <ChangeSid>false</ChangeSid>\n    <VirtualMachineId>1c353cf3-3a46-4b58-90e4-b9fc9088db22</VirtualMachineId>\n
        \   <JoinDomainEnabled>false</JoinDomainEnabled>\n    <UseOrgSettings>false</UseOrgSettings>\n
        \   <AdminPasswordEnabled>false</AdminPasswordEnabled>\n    <AdminPasswordAuto>true</AdminPasswordAuto>\n
        \   <ResetPasswordRequired>false</ResetPasswordRequired>\n    <ComputerName>DEVWEB-001</ComputerName>\n
        \   <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.guestCustomizationSection+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/guestCustomizationSection/\"/>\n</GuestCustomizationSection>\n"
  recorded_at: Tue, 20 Aug 2013 10:51:17 GMT
- request:
    method: put
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/guestCustomizationSection
    body:
      encoding: US-ASCII
      string: ! "<GuestCustomizationSection xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        \n                xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\" \n
        \               type=\"application/vnd.vmware.vcloud.guestCustomizationSection+xml\"
        \n                ovf:required=\"false\" \n                xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        \n                xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1
        \n                  http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd
        \n                  http://www.vmware.com/vcloud/v1.5 \n                  http://zone01.bluelock.com/api/v1.5/schema/master.xsd\">\n
        \            <ovf:Info>Specifies Guest OS Customization Settings</ovf:Info>\n
        \            <Enabled>true</Enabled>\n             <ChangeSid>false</ChangeSid>\n
        \            <VirtualMachineId>1c353cf3-3a46-4b58-90e4-b9fc9088db22</VirtualMachineId>\n
        \            <JoinDomainEnabled>false</JoinDomainEnabled>\n             <UseOrgSettings>false</UseOrgSettings>\n
        \            <AdminPasswordEnabled>false</AdminPasswordEnabled>\n             <AdminPasswordAuto>true</AdminPasswordAuto>\n
        \            <ResetPasswordRequired>false</ResetPasswordRequired>\n             <CustomizationScript>this
        is the user data</CustomizationScript>\n             <ComputerName>DEVWEB-001</ComputerName></GuestCustomizationSection>"
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.guestCustomizationSection+xml
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://devlab.mdsol.com/api/task/73d01f10-5a3e-4dd1-a2f6-39ea75ebff94
      Content-Type:
      - application/vnd.vmware.vcloud.task+xml;version=1.5
    body:
      enc[...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/virtualHardwareSection/disks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.rasditemslist+xml;version=1.5
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RasdItemsList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        xmlns:rasd=\"http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" type=\"application/vnd.vmware.vcloud.rasdItemsList+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/virtualHardwareSection/disks\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd
        http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData
        http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2.22.0/CIM_ResourceAllocationSettingData.xsd\">\n
        \   <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.rasdItemsList+xml\"
        href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/virtualHardwareSection/disks\"/>\n
        \   <Item>\n        <rasd:Address>0</rasd:Address>\n        <rasd:Description>SCSI
        Controller</rasd:Description>\n        <rasd:ElementName>SCSI Controller 0</rasd:ElementName>\n
        \       <rasd:InstanceID>2</rasd:InstanceID>\n        <rasd:ResourceSubType>lsilogicsas</rasd:ResourceSubType>\n
        \       <rasd:ResourceType>6</rasd:ResourceType>\n    </Item>\n    <Item>\n
        \       <rasd:AddressOnParent>0</rasd:AddressOnParent>\n        <rasd:Description>Hard
        disk</rasd:Description>\n        <rasd:ElementName>Hard disk 1</rasd:ElementName>\n
        \       <rasd:HostResource xmlns:ns12=\"http://www.vmware.com/vcloud/v1.5\"
        ns12:capacity=\"32768\" ns12:busSubType=\"lsilogicsas\" ns12:busType=\"6\"></rasd:HostResource>\n
        \       <rasd:InstanceID>2000</rasd:InstanceID>\n        <rasd:Parent>2</rasd:Parent>\n
        \       <rasd:ResourceType>17</rasd:ResourceType>\n    </Item>\n    <Item>\n
        \       <rasd:Address>0</rasd:Address>\n        <rasd:Description>IDE Controller</rasd:Description>\n
        \       <rasd:ElementName>IDE Controller 0</rasd:ElementName>\n        <rasd:InstanceID>3</rasd:InstanceID>\n
        \       <rasd:ResourceType>5</rasd:ResourceType>\n    </Item>\n</RasdItemsList>\n"
  recorded_at: Tue, 20 Aug 2013 10:51:26 GMT
[...]
- request:
    method: put
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/virtualHardwareSection/disks
    body:
      encoding: US-ASCII
      string: ! "<vcloud:RasdItemsList xmlns:vcloud=\"http://www.vmware.com/vcloud/v1.5\"
        \n              xmlns:rasd=\"http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData\"
        \n              type=\"application/vnd.vmware.vcloud.rasdItemsList+xml\"><vcloud:Item>\n
        \             <rasd:Address>0</rasd:Address>\n              <rasd:Description>SCSI
        Controller</rasd:Description>\n              <rasd:ElementName>SCSI Controller
        0</rasd:ElementName>\n              <rasd:InstanceID>2</rasd:InstanceID>\n
        \             <rasd:ResourceSubType>lsilogicsas</rasd:ResourceSubType>\n              <rasd:ResourceType>6</rasd:ResourceType>\n
        \           </vcloud:Item><vcloud:Item>\n              <rasd:AddressOnParent>0</rasd:AddressOnParent>\n
        \             <rasd:Description>Hard disk</rasd:Description> \n              <rasd:ElementName>Hard
        disk 1</rasd:ElementName>\n              <rasd:HostResource vcloud:capacity=\"65536\"
        vcloud:busSubType=\"lsilogicsas\" vcloud:busType=\"6\"></rasd:HostResource>\n
        \             <rasd:InstanceID>2000</rasd:InstanceID>\n              <rasd:Parent>2</rasd:Parent>\n
        \             <rasd:ResourceType>17</rasd:ResourceType>\n            </vcloud:Item><vcloud:Item>\n
        \              <rasd:Address>0</rasd:Address>\n               <rasd:Description>IDE
        Controller</rasd:Description>\n               <rasd:ElementName>IDE Controller
        0</rasd:ElementName>\n     [...]
[...]
- request:
    method: put
    uri: https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/virtualHardwareSection/memory
    body:
      encoding: US-ASCII
      string: ! "          <Item xmlns=\"http://www.vmware.com/vcloud/v1.5\" xmlns:rasd=\"http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ns12=\"http://www.vmware.com/vcloud/v1.5\"
        ns12:href=\"https://devlab.mdsol.com/api/vApp/vm-1c353cf3-3a46-4b58-90e4-b9fc9088db22/virtualHardwareSection/memory\"
        ns12:type=\"application/vnd.vmware.vcloud.rasdItem+xml\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2/CIM_ResourceAllocationSettingData
        http://schemas.dmtf.org/wbem/wscim/1/cim-schema/2.22.0/CIM_ResourceAllocationSettingData.xsd\">\n
        \           <rasd:AllocationUnits>byte * 2^20</rasd:AllocationUnits>\n            <rasd:Description>Memory
        Size</rasd:Description>\n            <rasd:ElementName>5120 MB of memory</rasd:ElementName>\n
        \           <rasd:InstanceID>5</rasd:InstanceID>\n            <rasd:Reservation>0</rasd:Reservation>\n
        \           <rasd:ResourceType>4</rasd:ResourceType>\n            <rasd:VirtualQuantity>5120</rasd:VirtualQuantity>\n
        \           <rasd:Weight>0</rasd:Weight>\n            <Link rel=\"edit\" type=\"application/vnd.vmware.vcloud.rasdItem+xml\"
[...]
