---
http_interactions:
- request:
    method: post
    uri: https://devlab.mdsol.com/api/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cmVzdGViYW5lekBkZXZvcHM6cGFzc3dvcmQqOA==
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Vcloud-Authorization:
      - ft3BJJX3qVJI59FZAmoOAtfqPn0LjG+Vab24Tnkphig=
      Content-Type:
      - application/vnd.vmware.vcloud.session+xml;version=5.1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Session xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        user=\"restebanez\" org=\"DevOps\" type=\"application/vnd.vmware.vcloud.session+xml\"
        href=\"https://devlab.mdsol.com/api/session/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5 http://10.194.1.65/api/v1.5/schema/master.xsd\">\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.orgList+xml\"
        href=\"https://devlab.mdsol.com/api/org/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.admin.vcloud+xml\"
        href=\"https://devlab.mdsol.com/api/admin/\"/>\n    <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n
        \   <Link rel=\"down\" type=\"application/vnd.vmware.vcloud.query.queryList+xml\"
        href=\"https://devlab.mdsol.com/api/query\"/>\n    <Link rel=\"entityResolver\"
        type=\"application/vnd.vmware.vcloud.entity+xml\" href=\"https://devlab.mdsol.com/api/entity/\"/>\n
        \   <Link rel=\"down:extensibility\" type=\"application/vnd.vmware.vcloud.apiextensibility+xml\"
        href=\"https://devlab.mdsol.com/api/extensibility\"/>\n</Session>\n"
  recorded_at: Thu, 29 Aug 2013 11:59:40 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.orglist+xml;version=5.1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OrgList xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        type=\"application/vnd.vmware.vcloud.orgList+xml\" href=\"https://devlab.mdsol.com/api/org/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Org type=\"application/vnd.vmware.vcloud.org+xml\"
        name=\"DevOps\" href=\"https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a\"/>\n</OrgList>\n"
  recorded_at: Thu, 29 Aug 2013 11:59:41 GMT
- request:
    method: get
    uri: https://devlab.mdsol.com/api/org/c6a4c623-c158-41cf-a87a-dbc1637ad55a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.org+xml;version=5.1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Org xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        name=\"DevOps\" id=\"urn:vc[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vdc+xml;version=5.1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Vdc xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        status=\"1\" name=\"DevOps - VDC\" id=\"urn:vcloud:vdc:9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        type=\"application/vnd.vmware.vcloud.vdc+xml\" href=\"https://devlab.mdsol.com/api/vdc/9a06a16b-12c6-44dc-aee1-06aa52262ea3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.vmware.com/vcloud/v1.5
        http://10.194.1.65/api/v1.5/schema/master.xsd\">\n    <Link rel=\"up\" type=\"application/vnd[...]
[...]
- request:
    method: get
    uri: https://devlab.mdsol.com/api/vApp/vapp-af4ef7ff-2fd2-4893-b23d-9ea74ff354c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.vmware.vcloud.vApp+xml;version=5.1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VApp xmlns=\"http://www.vmware.com/vcloud/v1.5\"
        xmlns:ovf=\"http://schemas.dmtf.org/ovf/envelope/1\" deployed=\"true\" status=\"1\"
        name=\"vApp_restebanez_1\" id=\"urn:vcloud:vapp:af4ef7ff-2fd2-4893-b23d-9ea74ff354c9\"
        type=\"application/vnd.vmware.vcloud.vApp+xml\" href=\"https://devlab.mdsol.com/api/vApp/vapp-af4ef7ff-2fd2-4893-b23d-9ea74ff354c9\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://schemas.dmtf.org/ovf/envelope/1
    [...]
[...]
